[submodule "springboot-feign-client"]
	path = springboot-feign-client
	url = ./springboot-feign-client
[submodule "employee-service"]
	path = employee-service
	url = https://github.com/playwithjavaDOTin/employee-service.git
